/*******************************************************************************
********************************************************************************
	Project		: Haftpflichtkasse Darmstadt
********************************************************************************
	Export		: 2012-07-23
*******************************************************************************/


.hkd-form-radio label {
        margin-top: 3px;
}




