/*******************************************************************************
********************************************************************************
	Project		: Haftpflichtkasse Darmstadt
********************************************************************************
	Export		: 2011-03-09
*******************************************************************************/
#hkd-search input.hkd-form-text {
	width: 111px;
}